$theme-colors: (
	"primary": #5E1F2A,
	"danger":#AD2100,
	"warning":#EDA006,
	"secondary":#6B595D
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.header {
	margin: 20pt 40pt;
}

.header>div>a {
	text-decoration: none;
	color: map-get($theme-colors, "primary");
}

.header>div>a:hover {
	//color: #DDD;
	color: map-get($theme-colors, "secondary");
}

a {
	color: map-get($theme-colors, "primary");
	text-decoration: none;
}

a:hover {
	color: map-get($theme-colors, "secondary");
}

i.bi-trash {
	color: map-get($theme-colors, "secondary");
}

i.bi-trash:hover {
	color: map-get($theme-colors, "danger");
}